In [1]:
import pandas as pd

In [2]:
def load_dataset():
    sheet_url = sheet_url = "https://docs.google.com/spreadsheets/d/1-Ag5DOHUywOeg_lwDi8ymRsREmHZ87s6d6FUPfLr8tc/export?format=csv"
    df = pd.read_csv(sheet_url)
    return df

In [3]:
df = load_dataset()

In [4]:
# Usunięcie nadmiarowych kolumn:
df.drop(columns=df.columns[df.columns.str.contains('^Unnamed')], inplace=True)
df. head()

,Pytanie,Odpowiedź,link do testu w B2,rodzaj zagadki,Zaskakujące odpowiedzi Bielika
0,Kto ma imieniny 30 lutego?,"Nikt, bo nie ma takiego dnia.",NaN,NaN,NaN
1,Ile przekątnych ma trójkąt?,"Zero, trójkąt nie ma przekątnych",NaN,sprzeczność z uwagi na definicję pojęcia,NaN
2,W którym roku wydarzyła się na terenie Polski ...,Nie było takiej bitwy.,NaN,NaN,NaN
3,W którym miesiącu zaczyna się 5 kwartał roku?,Rok ma tylko 4 kwartały.,NaN,NaN,NaN
4,Ile skrzydeł ma pies?,Zero. Psy nie mają skrzydeł.,NaN,NaN,NaN

In [5]:
def get_answer():
    for question in df['Pytanie']:
       answer = 'example'
       return answer

In [6]:
df["Odpowiedź:"] = get_answer()

In [7]:
df.head()

,Pytanie,Odpowiedź,link do testu w B2,rodzaj zagadki,Zaskakujące odpowiedzi Bielika,Odpowiedź:
0,Kto ma imieniny 30 lutego?,"Nikt, bo nie ma takiego dnia.",NaN,NaN,NaN,example
1,Ile przekątnych ma trójkąt?,"Zero, trójkąt nie ma przekątnych",NaN,sprzeczność z uwagi na definicję pojęcia,NaN,example
2,W którym roku wydarzyła się na terenie Polski ...,Nie było takiej bitwy.,NaN,NaN,NaN,example
3,W którym miesiącu zaczyna się 5 kwartał roku?,Rok ma tylko 4 kwartały.,NaN,NaN,NaN,example
4,Ile skrzydeł ma pies?,Zero. Psy nie mają skrzydeł.,NaN,NaN,NaN,example